.idea
*.sqlite3
bash
*.py[cod]
media/*
!media/.keepme
static/*
!static/.keepme

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin/*
!bin/post_compile
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


docs/_build
docs/api
_static
_media
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

.env

venv
venv3
env

# py.test cache
.cache

# database dumps
*.dump

# ctags tag-file
tags

# debuging maps
*.map

## javascript and css files
#*.js
#*.css
#!common/static/static_vendors/*.js
#!common/static/static_vendors/*.css
#
## npm, bower and vendors modules
#node_modules
#bower_components
#common/static/vendors
#.nodeenv
#npm-debug.log

#Client folder node modules
client/node_modules

#Generated fonts (Adding only the t-icons font)
website/static/fonts/t-icons.eot
website/static/fonts/t-icons.woff
website/static/fonts/t-icons.ttf
website/static/fonts/t-icons.svg
